<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whf.user.dao.mapper.TmMemberIdentityMapper">
  <resultMap id="BaseResultMap" type="com.whf.user.dao.entity.member.TmMemberIdentity">
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="identity_type" jdbcType="BIT" property="identityType" />
    <result column="pid_id" jdbcType="INTEGER" property="pidId" />
    <result column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="com.whf.user.dao.entity.member.TmMemberIdentity">
    insert into member..tm_member_identity (member_id, identity_id, identity_type, 
      pid_id, partner_id, create_time
      )
    values (#{memberId,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, #{identityType,jdbcType=BIT}, 
      #{pidId,jdbcType=INTEGER}, #{partnerId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select member_id, identity_id, identity_type, pid_id, partner_id, create_time
    from member..tm_member_identity
  </select>
</mapper>